{
    -fx-base: #424242;
}

.btn_avatar {
    -fx-shape: "M 350 300 A 50 50 0 1 1 200 300 A 50 50 0 1 1 350 300 ";
    -fx-background-image: url("../Images/2.jpg");
    -fx-background-size: cover
}

.btn_avatar:hover {
    -fx-border-color: beige;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}